.about {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #968d7e;
  color: white;
  position: relative;
  overflow: visible;
  z-index: 0;

  .about-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: relative;
    height: 100vh;

    @media (max-width: 1024px) {
      padding: 0 2rem;
    }
  }

  .about-wrapper {
    position: absolute;
    inset: 0;
    background-image: url(../assets/cement-texture.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    mix-blend-mode: multiply;
    pointer-events: none;
    z-index: 0;
  }
}
