.line-container {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  height: 100vh;
  width: 100px;
  z-index: 1;
  pointer-events: none;

  .drawing-line {
    width: 100%;
    height: 100%;

    path {
      stroke-linecap: round;
      opacity: 0.6;
    }
  }
}
